@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 210, 210, 210;
  --background-main: #e5e5f7;
  --background-effect: #b7c4db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 45, 45, 45;
    --background-main: #2b2b2f;
    --background-effect: #11202a;
  }
}

body {
  color: rgb(var(--foreground));
  background-color: var(--background-main);
  background-size: 10px 10px;
  background-image: 
    repeating-linear-gradient(
      45deg,
      var(--background-effect) 0,
      var(--background-effect) 1px,
      var(--background-main) 0,
      var(--background-main) 50%
    );
}
